body{
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffb830;
    padding: 0;
    margin: 0;
    color: #fff;

}
.wrap{
    margin: auto;
    margin-left: 50rem;
}
.switch{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 80px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;

}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffb830;
    box-shadow: 10px 10px 50px 18px rgba(0,0,0,0.75);
    -webkit-transition: .4s;
    transition: .4s;
    
}
.slider:before{
    position: absolute;
    content: "";
    height: 65px;
    width: 65px;
    background: #fff;
    left: 4px;
    bottom: 4px;
    -webkit-transition: 0.4s;
    transition: .4s;

}

input:checked + .slider {
    background: #ff2442;
}
input:checked + .slider:before{
    transform: translateX(177px);
}
.slider.round{
    border-radius: 50px;
}
.slider.round:before{
    border-radius: 50px;
}
.lights-on{
    background: #ff0000;
    width: 100vh;
    height: 100vh;
}
